#homeMainDiv{
font-family: 'Nunito', sans-serif;
background-color: #EAF6F6;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 20px;
padding-top: 1px;
margin-top: 20px;
padding-bottom: 10px;
}

#homeSpinnerDiv{
    margin-top: 10%;
    margin-left: 47%;
}

#homeLoadingEvents {
    font-size: 1.7rem;
    margin-top: 28px;
    margin-left: 32.5%;
}


#homeSearchDiv{
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    border: 1px solid snow;
    transition: transform 0.2s ease-in-out;
    padding-bottom: 15px;
    padding-top: 15px;
}
#homeSearchDiv:hover{
    transform: scale(1.03);
}

#homeSecondDiv{
    padding-left: 10px;
}

#homeMainSearchHeading{
    border-bottom: 3px solid #66BFBF;
}