#myProfileMainDiv{
  font-family: 'Nunito',sans-serif;
  background-color: #EAF6F6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding-top: 1px;
  margin-top: 20px;
  padding-bottom: 10px;
}

#myProfileMargin{
    margin-top: 15px;
}

.myProfilePersonalInfoParagraph{
    font-size: 1.2rem;
    margin-top: 25px;
}

#myProfileErrorDiv{
    margin-top: 25px;
    text-align: center;
}

#myProfileSpinnerDiv{
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
}

#myProfileNoBookedEventsDiv{
    width:300px;
    height: 100px;
    margin-left: 34%;
}

#myProfileLoadingBookedEvents{
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#myProfileBookedEventsHeading{
    margin-top: 15px;
    margin-left: 40%;
    margin-bottom: 15px;    
}

#myProfileBookedEventsMainDiv{
font-family: 'Nunito', sans-serif;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin-bottom: 10px;
background-color: white;
border: 4px solid snow;
transition: transform 0.2s ease-in-out;
}

#myProfileBookedEventsMainDiv:hover{
    transform: scale(1.02);
}

#myProfileBookedEventsHeaderDiv{
    background-color: snow;
    border-bottom: 3px solid #66BFBF;
    
}

#myProfileBookedEventsBodyDiv{
font-size: 20px;
background-color: snow;
}

#myProfileBookedEventsFooterDiv{
background-color: snow;
border-top: 3px solid #66BFBF;
}

#myProfilePersonalInfoDiv{
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    border: 4px solid snow;
    transition: transform 0.2s ease-in-out;
    margin-top: 15px;
    padding-bottom: 15px;
}

#myProfilePersonalInfoDiv:hover{
    transform: scale(1.02);
}